.root {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    max-width: 80%;
}

.media {
    padding-top: 56.25%;
}

.sort {
    text-align:left;
    vertical-align: middle;
    display: inline-block;
    width: 85%;
}

.list {
    padding-top: 30px;
}

.block2 {
    padding-top: 30px;
}

