.root1 {
    width: 90%;
}

.inline {
    display: inline;
}

.block1 {
    padding-top: 70px;
    text-align: center;
}

.blockForList {
    display: block;
}

.avatarAndButton{
    vertical-align: middle;
}

.table{
    max-width: 150px;
}

.blockText {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
}

.blockTable{
    padding-top: 20px;
    padding-left: 20px;
}

.blockTableFinal{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

}


.blockButton1 {
    width: 100%;
    text-align: center;
}


.forDiv{
    display: inline-block;
}

