.root1 {
    width: 93%;
}

.inline {
    display: inline;
}

.block1 {
    padding-top: 30px;
    text-align: center;
}

.blockForList {
    display: block;
}

.avatarAndButton {
    vertical-align: middle;
}

.table {
    max-width: 150px;
}

.blockText {
    padding-top: 10px;
}

.blockName1 {
    text-align: center;
    width: 100%;
}

.blockTable1 {
    display: inline-block;
    padding-top: 10px;
    padding-left: 20px;
}


.table1 {
    display: inline-block;
    width: 75%;
    padding-bottom: 10px;
}

.blockTableFinal {
    padding-top: 20px;
    padding-left: 20px;
}


.blockButton1 {
    width: 100%;
    text-align: center;
}


.forDiv {
    display: inline-block;
}

